.page {
  background-color: #fd8989;
  foreground-color: #fd8989;
}

.titleText{

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns, share all available width */
  gap: 16px;
  padding: 24px;
}

.image {
    width: 300px;
    height: 540px;
}
